RepetitionExercises/E02.MediaHost/Service References/ServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MediaService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/E02.MyMediaServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMediaService_AddBook_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBook" />
  </wsdl:message>
  <wsdl:message name="IMediaService_AddBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBookResponse" />
  </wsdl:message>
  <wsdl:message name="IMediaService_AddPaper_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPaper" />
  </wsdl:message>
  <wsdl:message name="IMediaService_AddPaper_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPaperResponse" />
  </wsdl:message>
  <wsdl:message name="IMediaService_GetAllBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooks" />
  </wsdl:message>
  <wsdl:message name="IMediaService_GetAllBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksResponse" />
  </wsdl:message>
  <wsdl:message name="IMediaService_GetAllPapers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPapers" />
  </wsdl:message>
  <wsdl:message name="IMediaService_GetAllPapers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPapersResponse" />
  </wsdl:message>
  <wsdl:message name="IMediaService_RemoveBookFromLibrary_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBookFromLibrary" />
  </wsdl:message>
  <wsdl:message name="IMediaService_RemoveBookFromLibrary_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveBookFromLibraryResponse" />
  </wsdl:message>
  <wsdl:message name="IMediaService_RemovePaperFromLibrary_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePaperFromLibrary" />
  </wsdl:message>
  <wsdl:message name="IMediaService_RemovePaperFromLibrary_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePaperFromLibraryResponse" />
  </wsdl:message>
  <wsdl:portType name="IMediaService">
    <wsdl:operation name="AddBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IMediaService/AddBook" message="tns:IMediaService_AddBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMediaService/AddBookResponse" message="tns:IMediaService_AddBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPaper">
      <wsdl:input wsaw:Action="http://tempuri.org/IMediaService/AddPaper" message="tns:IMediaService_AddPaper_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMediaService/AddPaperResponse" message="tns:IMediaService_AddPaper_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/IMediaService/GetAllBooks" message="tns:IMediaService_GetAllBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMediaService/GetAllBooksResponse" message="tns:IMediaService_GetAllBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPapers">
      <wsdl:input wsaw:Action="http://tempuri.org/IMediaService/GetAllPapers" message="tns:IMediaService_GetAllPapers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMediaService/GetAllPapersResponse" message="tns:IMediaService_GetAllPapers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveBookFromLibrary">
      <wsdl:input wsaw:Action="http://tempuri.org/IMediaService/RemoveBookFromLibrary" message="tns:IMediaService_RemoveBookFromLibrary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMediaService/RemoveBookFromLibraryResponse" message="tns:IMediaService_RemoveBookFromLibrary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePaperFromLibrary">
      <wsdl:input wsaw:Action="http://tempuri.org/IMediaService/RemovePaperFromLibrary" message="tns:IMediaService_RemovePaperFromLibrary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMediaService/RemovePaperFromLibraryResponse" message="tns:IMediaService_RemovePaperFromLibrary_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMediaService" type="tns:IMediaService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBook">
      <soap:operation soapAction="http://tempuri.org/IMediaService/AddBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPaper">
      <soap:operation soapAction="http://tempuri.org/IMediaService/AddPaper" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <soap:operation soapAction="http://tempuri.org/IMediaService/GetAllBooks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPapers">
      <soap:operation soapAction="http://tempuri.org/IMediaService/GetAllPapers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveBookFromLibrary">
      <soap:operation soapAction="http://tempuri.org/IMediaService/RemoveBookFromLibrary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemovePaperFromLibrary">
      <soap:operation soapAction="http://tempuri.org/IMediaService/RemovePaperFromLibrary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MediaService">
    <wsdl:port name="BasicHttpBinding_IMediaService" binding="tns:BasicHttpBinding_IMediaService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/E02.MyMediaServiceLibrary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>