WCFCourseMaterial/L01E01.ServiceClient/Service References/GreetServiceReference/L01E01.ServiceLibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/L01E01.ServiceLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/L01E01.ServiceLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Name">
    <xs:sequence>
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lastname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Name" nillable="true" type="tns:Name" />
</xs:schema>